<script type="text/x-handlebars-template" name="layoutBody">
	{{> layoutHeader}}

	<main>
		<section id="key" class="loading">
		</section>

		<section id="alt" class="loading">
			<div id="map-legend" class="legend">
				<h2>Density</h2>

				<div class="scale">
					<span class="point p1"></span>
					<span class="point p2"></span>
					<span class="point p3"></span>
					<span class="point p4"></span>
					<span class="point p5"></span>
					<span class="point p6"></span>
					<span class="point p7"></span>
					<span class="point p8"></span>
					<span class="point p9"></span>
				</div>

				<div class="color-text">
					Higher
					<span>Medium</span>
					Lower
				</div>
			</div>
		</section>

		<section id="ext" class="loading on-back">
		</section>
	</main>
</script>