<script type="text/x-handlebars-template" name="mod_form_location" partial-name="mod_form_location">
	<div class="input-default input-md">
		<select id="search_country" name="search_country" placeholder="Country">
		</select>
	</div>

	<div class="input-default input-xl">
		<input type="text" id="search_location" name="search_location" placeholder="Location">
	</div>

	<div class="input-default input-sm">
		<select id="search_radius" name="search_radius" placeholder="Radius" disabled>
		</select>
	</div>
</script>