<script type="text/x-handlebars-template" name="extra_projections" partial-name="extra_projections">
	<div class="body">
		<div id="ext-wrap" class="container projections-wrapper">
			<div class="ext-overview">
				<a href="#" class="backbtn"><i class="material-icons">keyboard_arrow_left</i></a>
				<h2>Career Projection</h2>
			</div>

			<div class="contents">
				<div class="scrollable">
					<div id="projection-wrap" class="mod-wrap">
					</div>
				</div>
			</div>
		</div>
	</div>
</script>